<h1>This is the show view for user</h1>
 
<div>
  <h1><%= @user.email %></h1>
  <p>Published <%= @user.created_at.strftime('%b %d, %Y') %></p>
  <a href="/users">Back to users info page</a>
  </p>
</div>
